/*--grape: #6435A9ff;
--jasmine: #FDEA8Cff;
--alice-blue: #6435A9ff;
--argentinian-blue: #56AFF9ff;
--school-bus-yellow: #FEE10Bff;
*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #4A148C;
    color: white;
    display: flex;
    flex-direction: column; 
}

.header {
    text-align: center;
}

.topo {
	border-top: 5px solid #FEE10Bff;
	width: 100%;
	display: flex;
	justify-content: space-between;
}


.imagemCanto {
	max-width: 900px;
}

#girl {
	transform: scaleX(-1);
    mask: radial-gradient(circle at top left, black 10%, rgba(0, 0, 0, 0.0) 70%);
}

#boy {
    mask: radial-gradient(circle at top left, black 10%, rgba(0, 0, 0, 0.0) 70%);
}

.header img {
	padding: 5px;
    max-width: 50px;
}


.logo{
    width: 900px;
    padding: 20px;
    text-align: center;
}

.main-content {
	position: relative;
	display:flex;	
	width: 60%;
	justify-content: space-between;
    flex-direction: column; 
    top: 50%;
    left: 50%;
    transform: translate(-50%,-25%);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    z-index: 2; /* Define a camada para o conteúdo sobreposto */
}

.main-container {
	margin-top: 90px;
	display:flex;	
	justify-content: space-between;
}

.left-container {
	width: 100%;
}

.cursos-icon {
	display:flex;
	justify-content: center;
}

.cursos-icon h3{
	padding-left: 20px;
	padding-right: 20px;
}

.cursos-icon img {
	margin-left: 35px;
	margin-right: 35px;
	color: white;
	width: 80px;
} 

.info {
	display: flex;
    flex-direction: column; 
	width: 90%;
	padding: 40px;
	padding-top: 0px;
}

.info h1{
	margin-bottom: 50px;
}

.form-container {
	width: 50%;
	height: 80%;
	display:flex;	
	justify-content: space-between;
	flex-direction: column;
	border: 2px solid #FEE10Bff;
    border-radius: 10px;
    
}

.form-title {
	padding:0;
	width: 100%;
	height: 20%;
	background: #FEE10Bff;
}

.form-title h2{
	margin: 20px;	
	color: #4A148C;
}

.form-form {
	display:flex;	
	justify-content: center;
	flex-direction: column;
	margin: 20px;
}


.form-container form {
	display:flex;	
	justify-content: center;
	flex-direction: column;

}

.form-container form input,
.form-container form select {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

.form-container form .submit-btn {
    background-color: #FF6F00;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.midle-container {
	margin-top: 50px;		
	background-color: #56AFF9ff;
	border-radius: 10px;
}

.card-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;	
}

.card {
    width: 250px;
    height: 350px;
    perspective: 1000px;
    margin: 50px;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-front {
    background-color: #FEE10Bff;
    color: #6435A9ff;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.card-back {
    background-color: #6435A9ff;
    color: white;
    transform: rotateY(180deg);
    border: 1px solid #ccc;
    border-radius: 10px;
	padding: 10px;
}
        

.footer {
    text-align: center;
    padding: 20px 0;
    opacity: 1;
    z-index: 3;
}

